@tailwind base;

@tailwind components;

@tailwind utilities;

@-webkit-keyframes moveplus {
    0% {
        margin-top: 1px;
        opacity: 100%;
    }

    100% {
        margin-top: -150px;
        opacity: 0%;
    }
}

@-moz-keyframes moveplus {
    0% {
        margin-top: 1px;
        opacity: 100%;
    }

    100% {
        margin-top: -150px;
        opacity: 0%;
    }
}

@-o-keyframes moveplus {
    0% {
        margin-top: 1px;
        opacity: 100%;
    }

    100% {
        margin-top: -150px;
        opacity: 0%;
    }
}

@keyframes moveplus {
    0% {
        margin-top: 1px;
        opacity: 100%;
    }

    100% {
        margin-top: -150px;
        opacity: 0%;
    }
}

html,
body {
    overflow: hidden;
}

#plus1 {
    top: 35%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus2 {
    top: 34%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus3 {
    top: 38%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus4 {
    top: 40%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus5 {
    top: 32%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus1:hover {
    cursor: pointer;
    pointer-events: none;
}

#plus2:hover {
    cursor: pointer;
    pointer-events: none;
}

#plus3:hover {
    cursor: pointer;
    pointer-events: none;

}

#plus4:hover {
    cursor: pointer;
    pointer-events: none;

}

#plus5:hover {
    cursor: pointer;
    pointer-events: none;
}

.btn {
    @apply text-white font-bold px-4 border-b-4 rounded-full;
    height: 45px;
    line-height: 45px;
}

.btn2 {
    @apply text-white font-bold px-4 rounded-full;
    cursor: default;
    pointer-events: none;
}

.btn:active {
    @apply border-b-2;
    line-height: 49px;
}

.btn-red {
    @apply bg-red-500 border-red-700;
}

.btn-red:hover {
    @apply bg-red-400 border-red-500;
}

.btn-blue {
    @apply bg-blue-500 border-blue-700;
}

.btn-blue2 {
    @apply bg-blue-500;
}

.btn-blue:hover {
    @apply bg-blue-400 border-blue-500;
}

.btn-blue:disabled {
    @apply bg-blue-200 border-blue-300;
}

.btn-blue:disabled:active {
    @apply bg-blue-200 border-blue-300 border-b-4;
    line-height: 45px;
}

.btn-green {
    @apply bg-green-500 border-green-700;
}

.btn-green2 {
    @apply bg-green-500;
}

.btn-green:hover {
    @apply bg-green-400 border-green-500;
}

.btn-green:disabled {
    @apply bg-green-200 border-green-300;
}

.btn-green:disabled:active {
    @apply bg-green-200 border-green-300 border-b-4;
    line-height: 45px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.text-shadow {
    text-shadow: 3px 0px 0px rgba(192, 86, 33, 1);
}

.text-shadow-red {
    text-shadow: 2px 0px 0px #742A2A;
}

.text-shadow-purple {
    text-shadow: 2px 0px 0px #44337A;
}

.text-shadow-teal {
    text-shadow: 2px 0px 0px #234E52;
}

.text-shadow-green {
    text-shadow: 2px 0px 0px #22543D;
}

.text-shadow-orange {
    text-shadow: 2px 0px 0px #7B341E;
}