@tailwind base;

@tailwind components;

@tailwind utilities;


html,
body {
    overflow: hidden;
    touch-action: manipulation;
}

.btn {
    @apply text-white font-bold px-4 border-b-4 rounded;
    height: 45px;
    line-height: 45px;
    /* remove double tap zoom on mobile devices when clicking buttons*/
    touch-action: manipulation;
}

.btn:hover {
    touch-action: manipulation;
}

.btn:active {
    @apply border-b-2;
    line-height: 49px;
    touch-action: manipulation;
}

.btn:disabled {
    touch-action: manipulation;
}

.btn-red {
    @apply bg-red-500 border-red-700;
}

.btn-red:hover {
    @apply bg-red-400 border-red-500;
}

.btn-blue {
    @apply bg-blue-500 border-blue-700;
}

.btn-blue:hover {
    @apply bg-blue-400 border-blue-500;
}

.btn-blue:disabled {
    @apply bg-blue-200 border-blue-300;
}

.btn-green {
    @apply bg-green-500 border-green-700;
}

.btn-green:hover {
    @apply bg-green-400 border-green-500;
}

.btn-green:disabled {
    @apply bg-green-200 border-green-300;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.text-shadow {
    text-shadow: 3px 0px 0px rgba(192, 86, 33, 1);
}